.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flexGeneral {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    max-width: 500px; /* Modifica este valor según el tamaño deseado */
    padding: 60px; /* Añadido para separación del borde */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputMail, .labelMail, .inputPassword, .labelPassword, .texto, .linkRegistro {
    margin-bottom: 20px;
}

.error {
    color: red;
}

.input-error {
    border-color: red;
}

.password-input-container {
    position: relative;
}

.password-input-container input {
    padding-right: 30px;
}

.password-input-container .toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.password-input-container .toggle-password:focus {
    outline: none;
}


.volver{
    position: relative;
    left: 500px;
    top:200px
}


.btn-volver {
    border: 2px solid black;
    color: black;
}

.btn-volver:hover{
    border: 2px solid black;
}