.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flexGeneral {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 150px;
  }
  
  .labelMail,.inputPassword{
    width: 300px;
  }

  .inputMail, .labelMail, .inputPassword, .labelPassword, .texto, .linkRegistro {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
  }
  
  .input-error {
    border-color: red;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input-wrapper {
    width: 100%;
  }
  
  .caps-lock-icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
  }
  
  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-container input {
    padding-right: 60px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-password:focus {
    outline: none;
  }
  
  .volver {
    position: relative;
    left: 500px;
    top: 200px;
  }
  
  .btn-volver {
    border: 2px solid black;
    color: black;
  }
  
  .btn-volver:hover {
    border: 2px solid black;
  }
  

.caps-lock-icon2{
    position: absolute;
    right: 175px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

.caps-lock-icon3{
    position: absolute;
    right: 175px;
    bottom: 65%;
    transform: translateY(-50%);
    color: red;
}