/* TaskManager.css */

.task-manager-container {
    position: relative;
}

.App {
    text-align: center;
}

h1 {
    color: #343a40;
}

.container {
    margin-top: 20px;
}

.table {
    border-collapse: separate;
    border-spacing: 5px;
}

.table td, .table th {
    border: 1px solid #ccc;
    padding: 8px;
}

.table thead th {
    background-color: #00796b;
    color: white;
}

.table tbody td:first-child {
    background-color: #81c784;
}

.table tbody td {
    background-color: #c8e6c9;
}

.new {
    background-color: #80deea; 
}
  
.in_process {
    background-color: #ffd54f;
}
  
.canceled {
    background-color: #ef9a9a;
}
  
.finished {
    background-color: #a5d6a7;
}

.edit-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.edit-box {
    text-align: center;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.logo-image {
    position: relative;
    bottom: 20px;
    left:590px;
    z-index: 1;
}
/* Estilos para el botón de logout */
.logout-button {
    position: absolute;
    left:90%;
    bottom:90%;
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

/* Estilos para el botón de logout al pasar el cursor */
.logout-button:hover {
    background-color: #ff4836; /* Color de fondo al pasar el cursor */
}
